# Xcode
.DS_Store
/.build/
/Packages/
xcuserdata/
derivedData/
DerivedData/
*.moved-aside
*.xccheckout
*.xcworkspace
!default.xcworkspace

# Swift PM
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Misc
.AppleDouble
.LSOverride
Icon
